

body {
    margin: 30px;
    font: 14px Arial, sans-serif;
    background: #F6F6F6;
}
ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.tabs {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: 0 auto;
}
.tabs:after {
    content: '';
    display: table;
    clear: both;
}
.tabs__content {
    display: none;
    background: #FFF;
    border: 2px solid brown;
    border-radius: 5px 5px 5px 5px;
    padding: 15px 15px;
    margin-right: 150px;
    margin-left: 150px;
}
.tabs__content.active {
    display: block;
}

.tabs-title {
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title.active {
    background-color:#937341 ;
    color: #23201D;
}


